/* CSS Document */
@import url(init.css);
@import url(layout.css);
@import url(icon.css);
@import url(button.css);

/*--------------Base---------------------*/
body,
input {font-family:"Helvetica Neue"/*,"Hiragino Sans GB"*/,"Microsoft YaHei",Arial,sans-serif;color:#333;}
hr {margin:0;}

::selection{background:#2883e9;color:#fff;}  
::-moz-selection{background:#2883e9;color:#fff;}  
::-webkit-selection{background:#2883e9;color:#fff;}

:before,:after {
font-family:'icomoon' !important;
speak:none;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;
} 

.grayBody {background:#f5f5f5;}
.header {cursor:default;
-webkit-touch-callout:none; /* iOS Safari */
-webkit-user-select:none; /* Chrome/Safari/Opera */
-khtml-user-select:none; /* Konqueror */
-moz-user-select:none; /* Firefox */
-ms-user-select:none; /* Internet Explorer/Edge */
user-select:none; /* Non-prefixed version, currently
not supported by any browser */
background:#fff;position:relative;z-index:99;}
.header .header_item {display:inline-block;vertical-align:middle;line-height:1;}
.header .header_item:last-child {border-left:1px solid #ddd;padding-left:.8rem;margin-left:.5rem;}
.header .header_item b {font-size:1rem;font-weight:normal;}
.header .header_item i,
.header h1 span {display:block;font-weight:normal;font-size:.75rem;color:rgba(15,18,51,.4);margin-top:.3rem;}
.header em,
.header h1 {display:inline-block;vertical-align:middle;}
.header h1 {}
.header em img {height:3rem;margin:.5rem .8rem .5rem 1rem;}
.header a.home {display:inline-block;color:#000;}
.header a.home:hover {}
.header .logout {position:absolute;right:2rem;top:1rem;}
.header .logout i {margin:0;display:block;font-size:.75rem;line-height:1.3}
.header .logout a {display:block;line-height:1;font-size:1rem;}
.header .underwear {border-bottom:1px solid rgba(15,18,51,.1);}

.foot {font-size:.7rem;line-height:2;text-align:center;position:fixed;left:0;bottom:0;width:9rem;}


.BodyLeft {position:relative;overflow-y:auto;}
.BodyLeft .underwear {background:rgba(15,18,51,.05);height:100%;}
.BodyRight .underwear {padding:1rem;}
.BodyRight .item_4in1 .underwear {border-right:1px solid rgba(15,18,51,.05);}
.BodyRight .item_1in1,
.BodyRight .item_4in1,
.BodyRight .item_4in3 {position:relative;}
.BodyRight .fixed {position:absolute;width:100%;background:#fff;left:0;top:0;border-bottom:1px solid rgba(15,18,51,.05);padding:0;}

.nav li {position:relative;}
.nav a {display:block;padding:1rem;color:rgba(15,18,51,.3);}
.nav a:hover {color:rgba(15,18,51,.8);}
.nav .on {background:#fff;}
.nav .on a {color:#000;}
.nav li.on:before,
.nav li.on:after {content:"";position:absolute;right:0;display:block;width:1rem;height:1rem;}
.nav li.on:before {top:-1rem;background:url(../img/before.svg) no-repeat 100% 100% / .75rem;}
.nav li.on:after {bottom:-1rem;background:url(../img/after.svg) no-repeat 100% 0 / .75rem;}
.nav li:first-child.on:before {display:none;}
.nav p a {padding-top:2.7rem;text-align:center;border-bottom:1px solid rgba(15,18,51,.05);}
.nav .on p a {border:0;}
.nav .home a {background:url(../img/home_gray.svg) no-repeat 50% 1rem / 1.3rem;}
.nav .on .home a,
.nav .on .home a:hover {background:url(../img/home.svg) no-repeat 50% 1rem / 1.3rem;}
.nav .customer a {background:url(../img/customer_gray.svg) no-repeat 50% 1rem / 1.25rem;}
.nav .on .customer a,
.nav .on .customer a:hover {background:url(../img/customer.svg) no-repeat 50% 1rem / 1.25rem;}
.nav .loan a {background:url(../img/loan_gray.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .on .loan a,
.nav .on .loan a:hover {background:url(../img/loan.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .contract a {background:url(../img/contract_gray.svg) no-repeat 50% 1rem / 1.4rem;}
.nav .on .contract a,
.nav .on .contract a:hover {background:url(../img/contract.svg) no-repeat 50% 1rem / 1.4rem;}
.nav .products a {background:url(../img/products_gray.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .on .products a,
.nav .on .products a:hover {background:url(../img/products.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .settings a {background:url(../img/settings_gray.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .on .settings a,
.nav .on .settings a:hover {background:url(../img/settings.svg) no-repeat 50% 1rem / 1.2rem;}

.nav .home a:hover {background:url(../img/home_gray_dark.svg) no-repeat 50% 1rem / 1.3rem;}
.nav .customer a:hover {background:url(../img/customer_gray_dark.svg) no-repeat 50% 1rem / 1.25rem;}
.nav .loan a:hover {background:url(../img/loan_gray_dark.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .contract a:hover {background:url(../img/contract_gray_dark.svg) no-repeat 50% 1rem / 1.4rem;}
.nav .products a:hover {background:url(../img/products_gray_dark.svg) no-repeat 50% 1rem / 1.2rem;}
.nav .settings a:hover {background:url(../img/settings_gray_dark.svg) no-repeat 50% 1rem / 1.2rem;}

/*--------------Common---------------------*/
.box_inline {display:inline-block;vertical-align:middle;}
.box_inline * {display:inline-block;vertical-align:middle;}
.box_inline .select01 {height:1.8rem;line-height:1.8rem;}

.heading {display:inline-block;vertical-align:middle;line-height:1;font-size:1.35rem;padding-left:.3rem;border-left:.5rem solid rgba(35,118,229,1);}

.heading01 {font-size:.9rem;margin:.5rem 0;position:relative;}
.heading01:before {content:"";display:inline-block;height:.4rem;width:.4rem;background:#333;border-radius:10rem;margin-right:.3rem;vertical-align:middle;margin-top:-.2rem;}

.heading02 {position:relative;z-index:1;padding-bottom:1rem;transition:all .25s;transition-timing-function:cubic-bezier(0,.5,.5,1);}
.heading02 span {display:inline-block;line-height:1;padding-left:.3rem;border-left:.5rem solid rgba(35,118,229,1);}
.heading02.fixed span {margin:1rem 2rem;}
.heading02 em {position:absolute;z-index:2;top:-.2rem;right:0;}
.heading02.fixed em {top:.8rem;right:2rem;}

.list_edit dt,
.list_edit dd {display:inline-block;vertical-align:middle;padding:.5rem 0;font-size:.8rem;}
.list_edit dd {width:80%;}
.list_edit dt {width:10%;}
.list_edit img {height:4rem;}
.list_edit input[type="text"] {font-size:.9rem;border:1px solid rgba(15,18,51,.1);outline:0;line-height:1.5rem;height:1.5rem;}
.list_edit input[type="text"]:focus {border:1px solid #4b0;}
.list_edit select {height:1.5rem;line-heihgt:1.5rem;padding:0 1rem;font-size:.9rem;}

.list_txt li {padding:1rem 0;border-bottom:1px solid rgba(15,18,51,.05);position:relative;}
.list_txt li:after {content:"";position:absolute;right:0;top:1rem;width:1rem;height:1rem;background:url(../img/arrow_right.svg) no-repeat 50% 50% / 1rem;}
.list_txt li a {color:rgba(15,18,51,.5);}
.list_txt li a:hover {color:#000;}
.list_txt li.on a {color:#4b0;}

.list_sideBySide {font-size:1rem;}
.list_sideBySide li {padding:.25rem 0;}
.list_sideBySide li span,
.list_sideBySide li p {display:inline-block;padding-right:.5rem;vertical-align:middle;}
.list_sideBySide li span {color:rgba(15,18,51,.4);}
.list_sideBySide li img {height:4rem;}
.list_sideBySide li input[type="text"] {font-size:1rem;height:1.5rem;line-height:1.5rem;text-indent:.5rem;border:1px solid rgba(15,18,51,.5) inset;}
.list_sideBySide li select:focus,
.list_sideBySide li input[type="text"]:focus {outline:1px solid #4b0;}
.list_sideBySide li select {font-size:1rem;height:1.5rem;line-height:1.5rem;padding:0 .5rem;border:1px solid rgba(15,18,51,.5) inset;width:100%;}

.list_icon {font-size:0;text-align:left;}
.list_icon li {display:inline-block;vertical-align:top;text-align:center;}
.list_icon span {display:block;height:2.5rem;text-align:center;position:relative;}
.list_icon span i {display:block;min-width:1rem;height:1rem;line-height:1rem;font-size:.7rem;text-align:center;border-radius:10rem;background:/*rgba(229,46,64,.7)*/rgba(35,118,229,.7);color:#fff;position:absolute;left:calc(50% + 1.25rem);top:5%;}
.list_icon p {font-size:.75rem;line-height:1.2;margin-top:.5rem;text-align:center;}
.list_icon img {height:100%;}
.list_icon a {background:#fff;display:block;padding:1rem .5rem;color:rgba(15,18,51,.5);border-radius:.5rem;}
.list_icon a:hover {background:rgba(15,18,51,.03);}
.list_icon .columnLine {border-radius:0;}

.fieldset01 .list_form {margin:1rem;}
.list_form li {padding:.5rem 0;}
.list_form span,
.list_form p {display:inline-block;vertical-align:top;width:25rem;line-height:2;position:relative;}
.list_form p {color:rgba(15,18,51,.5);}
.list_form p em {position:absolute;left:calc(100% + .5rem);top:.6rem;font-size:.75rem;color:rgba(15,18,51,.5);width:100%;padding-left:1.3rem;line-height:1.3;}
.list_form p em:before {position:absolute;left:0;top:0;}
.list_form span {width:8rem;}
.list_form input[type="text"],
.list_form textarea {height:2rem;line-height:2rem;font-size:1rem;width:100%;border:1px solid rgba(15,18,51,.1);}
.list_form textarea {min-height:5rem;}
.list_form input[type="file"] {position:absolute;left:-1000000rem;}
.list_form label input,
.list_form label i {display:inline-block;vertical-align:middle;line-height:1;margin-right:.2rem;}
.list_form label i {margin-right:1rem;}
.list_form .submit {border-top:1px solid rgba(15,18,51,.1);width:100%;display:block;padding:1rem 0;margin-top:1rem;}
.list_form .submit a {padding:.6rem 1.5rem;font-size:1rem;margin-right:1rem;}
.list_form .upload_file p {min-width:20rem;}
.list_form .upload_file s {text-decoration:none;font-size:.75rem;}
.list_form .upload_file img {height:5rem;}
.list_form .upload_file i {display:block;}
.list_form .upload_file .icon_false {font-size:.75rem;color:rgba(15,18,51,.5);width:100%;padding-left:1.3rem;line-height:1.3;padding:0;}
.list_form .c-datepicker-date-editor {padding:0 .3rem;}
.list_form .c-datepicker-date-editor i,
.list_form .c-datepicker-date-editor input {display:inline-block;vertical-align:middle;border:0;height:1.5rem;line-height:1.5rem;}
.list_form .c-datepicker-date-editor input {width:auto;}

.tablebox {display:block;width:100%;overflow-x:auto;height: 25rem;}

.table01 {}
.table01 th {background:rgba(15,18,51,.04);border-bottom:1px solid rgba(15,18,51,.07);padding:.5rem;font-size:.8rem;white-space:nowrap;color:rgba(15,18,51,.6);font-weight:normal;}
.table01 td {text-align:center;border-bottom:1px solid rgba(15,18,51,.1);padding:.5rem;white-space:nowrap;font-size:.9rem;background:#fff;transition:all .25s;transition-timing-function:cubic-bezier(0,.5,.5,1);}
.table01 tr:hover td {background:rgba(15,18,51,.03);}
.table01 img {height:1rem;}
.table01 a {padding:0 1rem;}

.fieldset01 {border:1px solid rgba(15,18,51,.1);border-radius:.4rem;padding:1rem;margin-bottom:1.5rem;width:calc(100% - 2rem);overflow-x:auto;}
.fieldset01 legend {padding:0 .3rem;}
.fieldset01 legend a {margin-left:1rem;color:rgba(15,18,51,.5);font-size:1rem;}
.fieldset01 legend * {display:inline-block;vertical-align:middle;}
.fieldset01 legend a:hover {color:rgba(35,118,229,1);}
.fieldset01 .item_3in1,
.fieldset01 .item_5in1,
.fieldset01 .item_6in1,
.fieldset01 .item_7in1 {vertical-align:middle;}

.searchbox {padding:1rem 0;}
.search {display:inline-block;}
.search p {display:inline-block;line-height:1;border:1px solid rgba(15,18,51,.3);border-right:0;border-radius:.3rem 0 0 .3rem;padding-left:1.5rem;position:relative;}
.search p:before {content:"";background:url(../img/magnifier.svg) no-repeat 50% 50% / 1rem;display:block;width:1rem;height:1rem;position:absolute;left:.45rem;top:.3rem;border:1px solid rgba(0,0,0,.0);}
.search input {border:0;height:28px;line-height:28px;width:15rem;vertical-align:middle;font-size:.8rem;text-indent:.5rem;border-radius:.3rem;outline:0;display:inline-block;}
.search input:focus {outline:0;border:0;}
.search a {display:inline-block;height:28px;line-height:28px;padding:0 1rem;background:rgba(15,18,51,.4);border:1px solid rgba(15,18,51,0);color:#fff;vertical-align:middle;border-radius:0 .3rem .3rem 0;font-size:.8rem;}
.search a:hover {background:rgba(35,118,229,1);border:1px solid rgba(35,118,229,1);}
.search span {display:inline-block;border:1px solid rgba(15,18,51,.3);border-right:0;border-radius:.3rem 0 0 .3rem;padding-left:.5rem;position:relative;}
.search span input {width:6rem;}
.search .btn_solid_gray {height:auto;line-height:1;border-radius:.3rem;padding:.52rem 1.5rem;}

.btnbox {padding:1rem;}
.btnbox_inline {padding:1rem;display:inline-block;vertical-align:middle;}

.pageNum {}
.pageNum li {display:inline-block;vertical-align:middle;color:rgba(15,18,51,.4);font-size:.75rem;}
.pageNum li i,
.pageNum li a {
-webkit-touch-callout:none; /* iOS Safari */
-webkit-user-select:none; /* Chrome/Safari/Opera */
-khtml-user-select:none; /* Konqueror */
-moz-user-select:none; /* Firefox */
-ms-user-select:none; /* Internet Explorer/Edge */
user-select:none; /* Non-prefixed version, currently
not supported by any browser */

display:block;line-height:2rem;padding:0 .75rem;}
.pageNum li a {color:rgba(15,18,51,.8);background:rgba(15,18,51,.05);border-radius:.3rem;}
.pageNum li a:hover {color:#fff;background:rgba(35,118,229,1);}
.pageNum li .on {color:rgba(35,118,229,1);}
.pageNum li input {width:1.5rem;height:1.5rem;line-height:1.5rem;text-align:center;font-size:1rem;vertical-align:middle;border:1px solid rgba(15,18,51,.2);}
.pageNum li i.prev,
.pageNum li i.next {padding:0;}
.pageNum li a.prev {padding-left:.5rem;}
.pageNum li a.next {padding-right:.5rem;}
.pageNum li .prev:before,
.pageNum li .next:after {content:"";display:inline-block;width:1rem;height:1rem;vertical-align:middle;margin-top:-.2rem;}
.pageNum li i.prev:before {background:url(../img/arrow_left_light.svg) no-repeat 50% 50% / .8rem;}
.pageNum li a.prev:before {background:url(../img/arrow_left_dark.svg) no-repeat 50% 50% / .8rem;}
.pageNum li a.prev:hover:before {background:url(../img/arrow_left_white.svg) no-repeat 50% 50% / .8rem;}
.pageNum li i.next:after {background:url(../img/arrow_right_light.svg) no-repeat 50% 50% / .8rem;}
.pageNum li a.next:after {background:url(../img/arrow_right_dark.svg) no-repeat 50% 50% / .8rem;}
.pageNum li a.next:hover:after {background:url(../img/arrow_right_white.svg) no-repeat 50% 50% / .8rem;}

.poper {width:40rem;}
.poper .list_form i.icon_false {margin-left:8rem;margin-top:.5rem;display:block;line-height:1.5;font-size:.75rem;color:rgba(15,18,51,.5);}
.poper .list_form .submit {text-align:center;}
.poper_close {display:block;position:absolute;right:0;top:0;background:url(../img/close_red_off.svg) no-repeat 50% 50% / 1.5rem;width:2.5rem;height:2.5rem;quotes:none;cursor:pointer;text-indent:-100rem;}
.poper_close:hover {background:url(../img/close_red_on.svg) no-repeat 50% 50% / 1.5rem;}

/*--------------Index---------------------*/
.index001,
.index002 {text-align:center;margin:1rem 0;}
.index001 i {font-size:1.3rem;}
.index001 i:before {content:"";display:block;height:2rem;background:url(../img/coin.svg) no-repeat 50% 50% / 2rem;margin-bottom:.5rem;}
.index002 i {font-size:1.8rem;}
.index001 p {font-size:1rem;color:rgba(15,18,51,.4);margin-top:.5rem;}
.index002 p {font-size:.8rem;color:rgba(15,18,51,.4);margin-top:.5rem;}

.index003 li {position:relative;border-bottom:1px solid rgba(15,18,51,.1);padding:.5rem 0;line-height:1;background:#fff;}
.index003 li:last-child {border:0;}
.index003 li:hover {background:rgba(15,18,51,.02);}
.index003 em {position:absolute;right:0;top:1.25rem;}
.index003 em:after {content:"";display:inline-block;vertical-align:middle;margin-left:.3rem;margin-top:-.1rem;width:1rem;height:1rem;background:url(../img/arrow_right.svg) no-repeat 50% 50% / 1rem;}
.index003 q {display:block;font-size:.9rem;color:rgba(15,18,51,.8);margin-bottom:.4rem;quotes:none;}
.index003 i {display:block;font-size:.7rem;color:rgba(15,18,51,.4);margin-top:.2rem;}
.index003 a {font-size:.8rem;color:rgba(15,18,51,.8);}
.index003 a:hover {color:rgba(35,118,229,1);}

.index04 {background:rgba(13,118,229,.02);}


/*--------------Loan---------------------*/
.loan_01 {width:100%;text-align:center;}
.loan_01 img {max-width:100%;}
.loan_01 span {display:block;text-align:center;padding-bottom:1rem;}

.loan_02 {text-align:center;padding:1rem 0;}
.loan_02 i {font-size:1.3rem;color:#333;}
.loan_02 p {font-size:1rem;color:rgba(15,18,51,.4);margin-top:.5rem;}

