/* CSS Document */
* {padding:0;margin:0;}
html,body {height:100%;background:rgba(0,0,0,.015);}
body {font-size:16px;font-family:"pingfang sc","microsoft yahei ui","microsoft yahei",Tahoma, Geneva, sans-serif;padding-bottom:3rem;}
a {text-decoration:none;color:#444}
.pagebox {width:auto;margin:0 auto;}
.box {}
.box h2 {font-size:2rem;line-height:2rem;padding:1rem 0;text-align:center;font-weight:200;border-bottom:2px solid #f33;color:#444;}
.box h2 span {display:inline-block;height:4rem;}

copyrights {position:fixed;right:0.5rem;bottom:0.35rem;font-size:0.6rem;color:rgba(0,0,0,.3);}

.box h2 {font-size:2rem;line-height:2rem;padding:1rem 0;text-align:center;font-weight:200;border-bottom:2px solid #f33;color:#444;}
.list01 {font-size:0;margin:0.5rem;}
.list01 li {display:inline-block;width:20%;position:relative;vertical-align:top;}
.list01 p {margin:0.5rem;}
.list01 span {line-height:1.4rem;display:block;font-size:1rem;height:inherit;padding:1rem;padding-top:7rem;height:3.5rem;border:1px solid #eef;border-radius:1px;text-align:center;background:#fff;}
.list01 span:hover {background:rgba(0,64,128,.01);border:1px solid #dde;}
.list01 li p:before {content:attr(data);display:block;line-height:4rem;height:4rem;width:4rem;border-radius:100%;background:#f33;color:#fff;font-size:2rem;text-align:center;position:absolute;left:calc(( 100% - 4rem ) / 2);top:2rem;font-weight:lighter;}

.giti .list01 p:before {background:#fed109;color:#444;}
.giti .box h2 {border-color:#fed109;}

@media screen and (min-width:769px) and (max-width:960px) {
.list01 li {width:25%}
}
@media screen and (min-width:568px) and (max-width:768px) {
.list01 li {width:33.33%}
}
@media screen and (min-width:0) and (max-width:567px) {
.pagebox {width:auto;margin:0;}
.box {}
.box h2 {font-size:1.5rem;line-height:1.5rem;padding:0.5rem 0;text-align:center;font-weight:normal;background:#f33;color:#fff;position:fixed;top:0;left:0;width:100%;z-index:10;}
.box h2 span {height:1.5rem;}

.giti .box h2 {background:#fff;}

.list01 {margin:0;margin-top:3rem;border-bottom:1px solid #dde;background:#fff;}
.list01 li {padding-left:4rem;position:relative;display:block;width:auto;}
.list01 p {margin:0;border-bottom:1px solid #dde;}
.list01 li:last-child p {border:0;}
.list01 span {line-height:1.6rem;padding:1rem 0;display:block;border:0;height:auto;text-align:left;font-weight:300;font-size:1.5rem;padding-right:1rem;}
.list01 span:hover {background:none;border:none;}
.list01 li p:before {content:attr(data);display:block;line-height:2rem;height:2rem;width:2rem;border-radius:0.6rem;background:#f33;color:#fff;font-weight:300;font-size:1.2rem;text-align:center;position:absolute;left:1rem;top:calc(( 100% - 2rem ) / 2)}
}
